openapi: 3.1.0
info:
  description: 'The OpenRelay control-plane REST API. Deploy GPU VMs and inference clusters, manage organizations and billing, and automate your infrastructure. All requests are authenticated with an API key (`vl_…`) unless noted otherwise.

    '
  title: OpenRelay Account Registry Credentials API
  version: 0.1.0
servers:
- description: Production
  url: https://api.openrelay.inc
- description: Beta
  url: https://api.beta.openrelay.inc
- description: Local development
  url: http://localhost:8083
tags:
- description: Private container-registry credentials for pulling images.
  name: Registry Credentials
paths:
  /v1/orgs/{orgId}/registry-credentials:
    get:
      operationId: listOrgRegistryCredentials
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegistryCredentialSummary'
                type: array
          description: Registry credentials
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - apiKey: []
      summary: List an org's registry credentials (no secrets)
      tags:
      - Registry Credentials
  /v1/orgs/{orgId}/registry-credentials/create:
    post:
      operationId: createOrgRegistryCredential
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryCredentialRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryCredentialSummary'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid request
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - apiKey: []
      summary: Create a registry credential (credentials stored encrypted)
      tags:
      - Registry Credentials
  /v1/orgs/{orgId}/registry-credentials/{id}:
    delete:
      operationId: deleteOrgRegistryCredential
      parameters:
      - in: path
        name: orgId
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
      - apiKey: []
      summary: Delete a registry credential
      tags:
      - Registry Credentials
      x-openrelay-mcp:
        destructiveHint: true
components:
  responses:
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: API key lacks the required scope
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key
  schemas:
    Error:
      properties:
        code:
          type: string
        error:
          type: string
      required:
      - error
      type: object
    RegistryCredentialSummary:
      properties:
        authType:
          type: string
        createdAt:
          type: string
        id:
          type: string
        name:
          type: string
        server:
          type: string
      required:
      - id
      - name
      - server
      - authType
      - createdAt
      type: object
    CreateRegistryCredentialRequest:
      properties:
        authType:
          enum:
          - basic
          - aws_ecr
          - gcp_gcr
          type: string
        credentials:
          additionalProperties:
            type: string
          type: object
        name:
          type: string
        server:
          type: string
      required:
      - name
      - server
      - authType
      - credentials
      type: object
  securitySchemes:
    apiKey:
      description: 'OpenRelay API key. Send it as `Authorization: Bearer vl_…`.'
      scheme: bearer
      type: http
